[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene-sqlalchemy = "==3.0.0b1"
websockets = "*"
uvicorn = "*"
starlette-graphene3 = "==0.5.1"
sqlalchemy = "*"
requests = "*"
jinja2 = "==3.0.3"
loguru = "*"
graphene = "*"
fastapi = "*"
faker = "*"
alembic = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
