{% extends "admin/admin.html" %}
{%block content%}

<section class="admin-form-project" id="create_project">
    <form action="http://127.0.0.1:5000/admin/projects/addproject" method="post">
        <input type="text" name="title" placeholder="Name"  required/>
        <input type="text" name="media" placeholder="media"  required/>
        <input type="text" name="short" placeholder="Descrição" required />
        <textarea name="big" placeholder="Conteudo" cols="80" rows="15" autocapitalize="sentences"required></textarea>
        <input type="text" name="active" placeholder="active" required/>
        <input type="text" name="link" placeholder="link" required/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</section>

<section class="admin-projects" id="get_projects_admin">
    {% for project in projects%}
        <div id="admin-get-project">
            <h1>{{project.projectid}} - {{project.title}}</h1>
            <a href="{{project.link}}">{{project.link}}</a>
            <p>{{project.shortdescription}}</p>
            <p>{{project.bigdescription}}</p>
            <p>{{project.media}}</p>
            <p>{{project.active}} - {{project.published}}</p>
        </div>
    {% endfor %}
</section>

<section class="admin-form-project" id="update_project">
    <form action="http://127.0.0.1:5000/admin/projects/updateproject" method="post">
        <input type="text" name="projectid" placeholder="id" required="required" />
        <input type="text" name="title" placeholder="Name"  />
        <input type="text" name="media" placeholder="media"  />
        <input type="text" name="short" placeholder="Descrição"  />
        <textarea name="big" placeholder="Conteudo" cols="80" rows="15" autocapitalize="sentences"></textarea>
        <input type="text" name="active" placeholder="active" />
        <input type="text" name="link" placeholder="link" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</section>

{%endblock%}
