
{% extends "admin/admin.html" %}

{%block content%}
<section class="painel" id="colors-painel">
    <section class="func" id="footer-color-back"></section>
    <section class="func" id="ww-color-top"></section>
    <section class="func" id="ww-color-content"></section>
    <section class="func" id="ww-color-text"></section>
    <section class="func" id="background-color"></section>
    <section class="func" id="background-image"></section>
    <section class="func" id="project-color-top"></section>
    <section class="func" id="project-color-content"></section>
    <section class="func" id="project-color-text"></section>
    <section class="func" id="post-color-top"></section>
    <section class="func" id="post-color-content"></section>
    <section class="func" id="post-color-text"></section>
</section>

{%endblock%}
