{% extends "admin/admin.html" %}

{%block content%}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_style.css') }}">

<section class="admin-get" id="all_project">
    {% for project in projects %}
    <section id="project_admin">
        <h2>{{project.projectid}} - {{project.title}}</h2>
        <p>{{project.shortdescription}}</p>
        <hr>
        <p>{{project.bigdescription}}</p>
        <hr>
        <a href="{{project.link}}">{{project.link}}</a>
        <p>{{project.media}}</p>
        <p>{{project.active}}</p>
        <p>{{project.datecreated}}</p>
    </section>
    {%endfor%}
</section>

<section class="admin-get" id="all_post">
    {% for post in posts %}
    <section id="post_admin">
        <h2>{{post.postid}} - {{post.title}}</h2>
        <p>{{post.description}}</p>
        <hr>
        <p>{{post.content}}</p>
        <hr>
        <p>{{post.media}}</p>
        <p>{{post.active}}</p>
        <p>{{post.datecreated}}</p>
    </section>
    {%endfor%}
</section>

<section class="admin-get" id="all_social">
    {% for social in socials %}
    <section id="admin-social">
        <h2>{{social.socialid}} - {{social.name}}</h2>
        <a href="{{social.link}}">{{social.link}}</a>
        <p>{{social.active}}</p>
    </section>
    {%endfor%}
</section>

<section class="admin-get" id="all_tags">
    {% for tag in tags %}
    <section id="admin-tag">
        <h2>{{tag.tagid}} - {{tag.name}}</h2>
        <p>{{tag.active}}</p>
    </section>
    {%endfor%}
</section>
{%endblock%}
