{% extends "admin/admin.html" %}

{%block content%}
        <section class="func" id="create_post">
            <form action="http://127.0.0.1:5000/admin/posts/addpost" method="post">
                <input type="text" name="title" placeholder="Title" required="required" />
                <textarea name="content" placeholder="Conteudo" cols="80" rows="15" autocapitalize="sentences" required></textarea>
                <input type="text" name="description" placeholder="Description" required="required" />
                <input type="text" name="media" placeholder="media" required="required" />
                <input type="text" name="active" placeholder="active" required="required" />
                <input type="text" name="tags" placeholder="tags" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
            </form>
        </section>

        <section class="func" id="all_posts">
            {% for post in posts%}
                <div>
                    Ttitle: <h1>{{post.title}}</h1>
                    Id: <h4>{{post.postid}}</h4>
                </div>
            {% endfor %}

        </section>

        <section class="func" id="update_post">
            <form action="http://127.0.0.1:5000/admin/posts/updatepost" method="POST">
                <input type="number" name="postid" placeholder="ID" required="required" />
                <input type="text" name="title" placeholder="Title"  />
                <textarea name="content" placeholder="Conteudo" cols="80" rows="15" autocapitalize="sentences"></textarea>
                <input type="text" name="description" placeholder="Description"  />
                <input type="text" name="media" placeholder="media"  />
                <input type="text" name="active" placeholder="active"  />
                <input type="text" name="tags" placeholder="tags"  />
                <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
            </form>
        </section>
{%endblock%}