<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administração is on</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_style.css') }}">
</head>
<body>
    <header id="headindex"><h1>oq queres administrar hj, lindo?</h1></header>
    <main id="maindex">
        <section class="bloco-admin"><a href="http://127.0.0.1:5000/administracao_do_portifolio/posts"><h1>Postagens</h1></a></section>
        <section class="bloco-admin"><a href="http://127.0.0.1:5000/administracao_do_portifolio/projects"><h1>Projetos</h1></a></section>
        <section class="bloco-admin"><a href="http://127.0.0.1:5000/administracao_do_portifolio/social"><h1>Social</h1></a></section>
        <section class="bloco-admin"><a href="http://127.0.0.1:5000/administracao_do_portifolio/colors"><h1>Cores</h1></a></section>
        <section class="bloco-admin"><a href="http://127.0.0.1:5000/administracao_do_portifolio/home"><h1>Home</h1></a></section>
        <section class="bloco-admin"><a href="http://127.0.0.1:5000/administracao_do_portifolio/data"><h1>Dados</h1></a></section>
    </main>
</body>
</html>