{% extends "base.html" %}
<head>
    <title>{% block title %}Pagina Inicial{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<main>
{%block content%}
    {%for post in posts%}
        <section class="bloco-content">
            <a href="{{post.link}}">
                <h2>{{post.title}}</h2>
                <p>{{post.description}}</p>
            </a>
         </section>
    {%endfor%}

    {%if not posts%}
        <h1>Sem posts recentes</h1>
    {%endif%}
{%endblock%}
</main>

</body>
</html>