{% extends "base.html" %}
<head>
    <title>{% block title %}Pagina Inicial{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<main>
{%block content%}
        <section id="orders">
            <section id="order_area">
                  <a href="http://127.0.0.1:5000/blog/recent"><button class="order-value">Recentes</button></a>
                  <a href="http://127.0.0.1:5000/blog/old"><button class="order-value">Antigos</button></a>
            </section>
        </section>
    <section class="grade-content">
    {%for post in posts%}
        <section class="bloco-content">
            <a href="blog/{{post.postid}}">
                <h2>{{post.title}}</h2>
                <p>{{post.description}}</p>
            </a>
         </section>
    {%endfor%}
    </section>

    {%if not posts%}
        <h1>Sem posts recentes</h1>
    {%endif%}
{%endblock%}
</main>

</body>
</html>