{% extends "base.html" %}
<head>
    <title>{% block title %}Pagina Inicial{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<main>
    {%block content%}
    <section class="grade">
        <section class="tema">
            <h3>QUEM SOU?</h3>
            <section class="bloco-index">
                {{whoiam.content}}
            </section>
        </section>

        <section class="tema">
            <h3>O QUE FAÇO?</h3>
            <section class="bloco-index">
                {{whatido.content}}
            </section>
        </section>
    </section>

    <section class="grade-prolog">
        <section class="tema prolog">
            <a href="http://127.0.0.1:5000/projects"><h3>MEUS PROJETOS</h3></a>
            <section class="bloco-index bloco-prolog">
                {%if projects%}
                    {%for project in projects%}
                        <section class="project-home">
                            <h1><a href="{{project.link}}">{{project.title}}</a></h1>
                            <p>{{project.shortdescription}}</p>
                            <hr>
                        </section>
                    {%endfor%}
                <a href="http://127.0.0.1:5000/projects"><button>Ver todos os projetos</button></a>

                {%endif%}

                {%if not projects%}
                    <h1>Sem trabalhos recentes</h1>
                {%endif%}
            </section>
        </section>
    </section>
    {%endblock%}

</main>

</body>
</html>