{% extends "base.html" %}
<head>
    <title>{% block title %}Pagina Inicial{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<main>
    {%block content%}
        <section id="orders">
            <section id="order_area">
                  <a href="https://adryell.herokuapp.com/projects/recent"><button class="order-value">Recentes</button></a>
                  <a href="https://adryell.herokuapp.com/projects/old"><button class="order-value">Antigos</button></a>
            </section>
        </section>
    <section class="grade-content">
        {%for project in projects%}
            <section class="bloco-content">
                <a href="{{project.link}}">
                    <h2>{{project.title}}</h2>
                    <p>{{project.bigdescription}}</p>
                </a>
             </section>
        {%endfor%}
    </section>
    {%endblock%}

</main>

</body>
</html>