{% extends "base.html" %}
<head>
    <title>{% block title %}Pagina Inicial{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<main>

    {%block content%}
    <section class="grade-content">
        {%for project in projects%}
                <section class="bloco-content">
                    <a href="{{project.link}}">
                        <h2>{{project.title}}</h2>
                        <p>{{project.bigdescription}}</p>
                    </a>
                 </section>
        {%endfor%}
    </section>
    {%endblock%}

</main>

</body>
</html>